.editor {
	padding-top: toRem(130);
	@include adaptiveValue("padding-bottom", 70, 40);
	&__container {}
	
	&__title {
		text-align: center;
		@include adaptiveValue("margin-bottom", 30, 20);
	}
	
	&__subtitle {
		text-align: center;
	}
	
	&__items {
		display: grid;
		@include adaptiveValue("gap", 70, 40);
	}
	
	&__item {}
}

.item-editor {
	display: grid;
	// @include adaptiveValue("gap", 30, 20);
	gap: toRem(30);
	&__add{
		text-align: center;
		margin: 0 20%;
	}
	&__title {
		text-align: center;
	}
	
	&__filters {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		align-items: start;
		@include adaptiveValue("column-gap", 50, 20);
		row-gap: toRem(20);
		input {
			width: 100%;
		}
		&--coins{
			grid-template-columns: repeat(3, 1fr);
		}
		@media (max-width:$tablet){
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width:$mobile){
			grid-template-columns: auto;
		}
		&--games{
			grid-template-columns: auto;
			label{
				text-align: center;
			}
		}
		input[type="checkbox"] {
			width: auto;
			cursor: pointer;
		}
	}
	
	&__filter {
	}
	
	&__filter-ranges {
		display: flex;
		align-items: center;
		column-gap: toRem(20);
		row-gap: toRem(15);
		@media (max-width:$mobileSmall){
			display: grid;
		}
	}
	
	&__filter-range {
		flex: 1 1 auto;
		&:not(:last-child){
			margin-bottom: toRem(0);
		}
	}

	&__filter-list {
		display: grid;
		row-gap: toRem(10);
	}
	
	&__filter-item {
		label{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			input {
				justify-self: end;
			}
		}
	}
	
	&__filter-checkbox {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: toRem(20);
		row-gap: toRem(10);
		align-self: center;
		font-size: toRem(18);

		@media (max-width:$mobileSmall){
			justify-self: flex-start;
		}
	}
	
	&__list {
		display: grid;
		gap:toRem(30);
		justify-content: center;
	}
	
	&__object {}
}

.item-editor-object {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include adaptiveValue("gap", 20, 10);
	@media (max-width:$mobile){
		flex-wrap: wrap;
		justify-content: center;
	}
	&__img {
		
		img{
			height: toRem(150);
			width: toRem(150);
			border-radius: 50%;
		}
	}

	&__name {
		
		display: grid;
		span{
			color: $thirdColor;
			font-family: $secondaryFontFamily;
		}
	}

	&__email {
		
	}

	&__balance {
		
	}

	&__category {
		
	}

	&__price {
		display: flex;
		flex-wrap: wrap;
		gap:toRem(20);
		
	}

	&__coins {
		
	}

	&__coin {
		img{
			max-width: toRem(100);
		}
	}

	&__buttons{
		display: flex;
		@include adaptiveValue("gap", 15, 10);
		flex-wrap: wrap;
	}
	
	&__button{}
}


.editor-item-page {
	@include adaptiveValue("padding-top", 70, 30);
	@include adaptiveValue("padding-bottom", 70, 30);
	
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__forms {
		display: grid;
		justify-content: center;
		gap:toRem(30);
		&:not(:last-child){
		@include adaptiveValue('margin-bottom', 40, 20);
		}
	}

	&__image {}

	&__image-body {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		@include adaptiveValue("gap", 40, 20);
	}
	
	&__image-action {
		display: grid;
		@include adaptiveValue("gap", 30, 15);
	}

	&__image-button {}

	&__avatar {
		img{
			border-radius: 50%;
			width: toRem(300);
			height: toRem(300);
		}
	}

	&__label {
		justify-self: center;
		&-coin{
			display: grid;
			@include adaptiveValue("gap", 30, 15);
			span{
				font-size: toRem(18);
			}
		}
		&-admin{
			label{
				text-align: center;
			}
		}
	}

	&__actions {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 30, 10);
	}

	&__coins-list {
		display: grid;
		@include adaptiveValue("gap", 50, 30);
	}
	
	&__coins-item {
		display: grid;
		text-align: center;
		@include adaptiveValue("gap", 30, 20);
	}
	
	&__coins-list-coin {
		font-family: $secondaryFontFamily;
		display: grid;;
		img{
			margin: 0 auto;
			max-width: toRem(150);
		}
	}

	&__coins-list-action {
		display:flex;
		justify-self: center;
		@include adaptiveValue("gap", 30, 15);
		flex-wrap: wrap;
	}
}	


